.character {
    display: inline-block;
    height: 115px;
    width: 130px;
}

#rick {
    background-image: url('../images/Rick_Sanchez.png');
}

#morty {
    background-image: url('../images/Morty_Smith.jpg');
}

#grom {
    background-image: url('../images/Gromflomite.png');
}

#meeseeks {
    background-image: url('../images/Mr_Meeseeks.png');
}